# History files
.Rhistory
.RData
.Ruserdata

# Example RStudio project files
*.Rproj

# External data
data/*.csv
data/*.xlsx

# Output files
*.pdf
*.html
*.docx
*.tex
*.vrb
*.nav
*.snm
*.toc
*.log
*.out

# Packages
.Rproj.user/
